<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= page.keywords || config.keywords || 'Blog By Shubham Wadkar' %>">
    <meta name="description" content="<%= page.description || config.description || 'Blog By Shubham Wadkar' %>">
    <meta name="author" content="<%= theme.base_info.author || config.author || 'Redefine Team' %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-redefine.png">
    <!--- Seo Part-->
    <%- generate_seo(theme, page) %>
    <%- autoCanonical(config, page) %>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="revisit-after" content="1 days">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= page.title || config.title || 'Redefine Theme' %>">
    <meta property="og:description" content="<%= page.description || config.description || 'Blog By Shubham Wadkar' %>">
    <meta property="og:url" content="<%= config.url + page.path %>">
    <meta property="og:image" content="<%= theme.style.favicon %>">
    <meta property="og:site_name" content="<%= theme.base_info.title || config.title || 'Redefine Theme' %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= page.title || config.title || 'Redefine Theme' %>">
    <meta name="twitter:description" content="<%= page.description || config.description || 'Blog By Shubham Wadkar' %>">
    <meta name="twitter:image" content="<%= theme.style.favicon %>">
    <!--- Icon Part-->
    <link rel="icon" type="image/png" href="<%= theme.style.favicon %>" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= theme.style.favicon %>">
    <meta name="theme-color" content="<%= theme.style.primary_color %>">
    <%- favicon_tag(theme.style.favicon) %>
    <%
    let title = page.title;
    if (is_archive()) {
        title = __('archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } else {
        title = __(page.title);
    }
    %>
    <title>
        <% if (title) { %>
            <%= title %> -
        <% } %>
        <%= theme.base_info.title || config.title || 'Redefine Theme' %>
    </title>
    <%- css('css/style') %>
    <%- __css('assets/fonts.css') %>
    <% if (theme.style.first_screen.custom_font.enable) { %>
        <link href="<%- theme.style.first_screen.custom_font.font_url %>" rel="stylesheet">
    <% } %>
    <% if (theme.code_block.custom_font.enable) { %>
        <link href="<%- theme.code_block.custom_font.font_url %>" rel="stylesheet">
    <% } %>
    <% if (theme.inject.enable == true) { %>
        <% for (let i in theme.inject.head) { %>
            <% if (theme.inject.head[i] !== null){ %>
                <% if (theme.pjax.enable == true) { %>
                    <%- theme.inject.head[i].replace("<script", "<script data-pjax") %>
                <% } else { %>
                    <%- theme.inject.head[i] %>
            <% } }%>
    <% } }%>
    <% if (theme.cdn.enable == true) { %>
        <link rel="preconnect" href="https://evan.beee.top" crossorigin>
    <% } %>
    <%- export_config() %>
    
    <%- __css('fontawesome/fontawesome.min.css') %>
    <%- __css('fontawesome/brands.min.css') %>
    <%- __css('fontawesome/solid.min.css') %>
    <%- __css('fontawesome/regular.min.css') %>
    <% if (theme.fontawesome.thin == true) { %>
        <%- __css('fontawesome/thin.min.css') %>
    <% } %>
    <% if (theme.fontawesome.light == true) { %>
        <%- __css('fontawesome/light.min.css') %>
    <% } %>
    <% if (theme.fontawesome.duotone == true) { %>
        <%- __css('fontawesome/duotone.min.css') %>
    <% } %>
</head>

